<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page_title}}</title>
</head>
<body>
    <header>

    </header>
    <main>
        <section>
            <ul>
                {% for category in categorys %}
                <li>
                    <a href="{% url 'advito:choise_category' category.id %}">{{ category.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>
</html>